*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Rubik", sans-serif;
    scroll-behavior: smooth;
}

/* UNIVERSAL */

p{
    color: #3b3b3b;
    font-size: 16px;
    line-height: 20px;
}
a{
    text-decoration: none;
    line-height: 30px;
}
h1{
    text-align: center;
    
}
h4{
    font-weight: bold;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
}
.blue{
    color: rgb(23, 79, 183);
}
/* BACKGROUND */
#background{
    background-color: #f4efe4;
}
/* NAVIGATION BAR */
.title{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}
li{
    list-style: none;
}

.nav__bar{
font-size: 15px;
padding-left: 15px;
padding-right: 15px;
color: #3b3b3b;
}
.nav{
    display: flex;
    align-items: center;
}
a:hover{
    text-decoration: underline;
}
.nav__bar--end{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right:15px;
    padding-bottom: 50px;
}
.nav__right{
    display: flex;
    
}
.nav__right--1{
    display: flex;
    align-items: center;
}

/* Home Page */

.home{
max-width: 70%;
margin: auto;
}

.home__subjects{
    list-style:circle;
    color:#3b3b3b;
}

.home__layout{
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
}
/* HOME PAGE */

.introduction{
    font-size: 40px;
    padding-bottom: 30px;
    font-weight:600;
    

}


.image{
    display: flex;
    align-items: center;
    float: right;
}
/* PAST */
.past__title{
    color: #11a372;
    font-size: 30px;
padding-top: 20px;
padding-bottom: 10px;
}

.timeline{
   
}
.line{
    padding:  0px 30px ;
    border-left: 2px solid #bababa;
}

.para{
    padding-bottom: 20px;
}

/* FUTURE */
.font__title{
    font-size: 40px;
    text-align: left;

}

/* COMMENTS */
.technical__color{
   background-color: lightblue;
}
.technical__top--color{
    background-color: rgb(60, 181, 221);
}
td{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
