*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Rubik", sans-serif;
    scroll-behavior: smooth;
}

/* UNIVERSAL */
body{
    background-image: url(./pictures/backgroundimg.jpg);
    background-size: cover;
    
}
p{
    font-size: 16px;
    line-height: 30px;
}
a{
    text-decoration: none;
    line-height: 30px;
}
h1{
    text-align: center;
    line-height: 30px;
}
/* BACKGROUND */
.background{
    background-color: #FFF1DE;
}
/* NAVIGATION BAR */
li{
    list-style: none;
}

.nav__bar{
font-size: 15px;
padding-left: 15px;
padding-right: 15px;
color: black;
}
.nav{
    display: flex;
    align-items: center;
}
.nav__bar--end{
    display: flex;
    justify-content: space-between;
}
.nav__right{
    display: flex;
    
}
.nav__right--1{
    display: flex;
    align-items: center;
}

/* Home Page */

.home{
    padding-left: 50px;
    padding-right: 50px;
}

.home__subjects{
    list-style:circle;
    color:black;
}

.home__layout{
    display: flex;
    justify-content:space-around;
}
/* HOME PAGE */

.introduction{
    font-size: 40px;
    line-height: 1.5;
    font-weight:600;

}
.introduction__sizing{
    padding-top: 100px;
}

/* PAST */
.work{
    display: flex;
    border: 2px solid;

}